@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welkom! </h1>
    <p class="lead">Welkom op de applicatie van het IT-bedrijf. Dit is een onderdeel van het cashlessproject.</p>
 
</div>

